* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 20px;

}

header .heading {
  font-size: 20px;

}

.nav-list {
  text-align: center;
  padding: 15px 20px;
  margin: 0 auto;

}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;

}

.main-visual {
  width: 100%;
  height: 50px;
  background-color: orange;

}

.main {
  width: 960px;
  height: 1400px;
  background-color: green;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

footer {
  width: 100%;
  height: 100px;
  background-color: blue;

}

.center {
  width: 500px;
  height: 1400px;
  background-color: limegreen;

}

.sidebar {
  width: 230px;
  height: 1400px;
  background-color: palegreen;

}